* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
}


nav {
    width: 80%;
}



nav ul {
    display: flex;
    list-style: none;
    color: rgb(233, 233, 233);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

nav a {
    color: rgb(233, 233, 233);
    text-decoration: none;
}

@media screen and (max-width: 769px) {
    nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    nav li {
    display: none;
    }

    nav .show-small {
    display: block;
    display: flex;
    list-style: none;
    color: rgb(233, 233, 233);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    }
}

@media screen and (min-width: 769px) {
    nav .show-small {
        display: none;
    }
}



.shop-online {
    background-color: #fbfbfd;
    text-align: center;
    padding: 20px 0;
}

/* full-width-section styles */

.full-width-section {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.full-width-section div {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.full-width-section a {
    color: #06c;
    letter-spacing: inherit;
    align-items: center;
}

.iphone-13-pro {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_medium.jpg");
}

.iphone-13-pro h1 {
    font-size: 48px;
    font-weight: 600;
}

.iphone-13-pro h2 {
    font-size: 24px;
    font-weight: 400;
}

.iphone-13 {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_large.jpg");
}

.iphone-13 h1 {
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}

.iphone-13 h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fec2eb;
}

.gift {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_large.jpg");
}

.gift h1 {
    font-size: 24px;
    font-weight: 400;
    color: #602d62;
    margin-top: 20px;
}

.gift h2 {
    font-size: 48px;
    font-weight: 600;
    color: #602d62;
}

/* multi styles */

.multi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.multi article {
    height: 538px;
    width: 49%;
    margin-bottom: 20px;
    background-position: center;
    text-align: center;
    justify-content: space-between;
}

.multi a {
    color: #06c;
    letter-spacing: inherit;
    align-items: center;
}


.multi h2 {
    font-size: 19px;
    font-weight: 400;
}

.multi h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
}

.multi h4, .logo {
    margin-top: 20px;
}

.watch7 {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_large.jpg");
}

.shot {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_large.jpg");
}

.offer {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_large.jpg");
}

.black-unity {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_large.jpg");
}

.black-unity h1 {
    color: white;
}
 .black-unity h2 {
     color: white;
 }

.card {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/apple-card/tile__cauwwcyyn9hy_large.jpg");
}

.tv {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/tv-plus-the-sky-is-everywhere/promo_sky__fu99g2ymabiy_large.jpg");
}

footer p {
    font-weight: 400;
    background-color: #f5f5f7;
    color: #6e6e73;
}

/* media quaries*/
@media screen and (max-width: 475px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        display: none;
    }

    nav li.show-on-small-screen {
        display: block;
    }

    .full-width-section {
        background-size: cover;
    }

    .iphone-13-pro {
        background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small_2x.jpg");
    }

    .iphone-13 {
        background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_small.jpg");
    }

    .gift {
        background-image: url("https://www.apple.com/v/home/aj/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_small.jpg");
    }

    .watch7 {
        background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_small.jpg");
    }

    .shot {
        background-image: url("https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_small.jpg");
    }

    .offer {
        background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_small.jpg");
    }

    .black-unity {
        background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_small.jpg");
    }

    .card {
        background-image: url("https://www.apple.com/v/home/aj/images/promos/apple-card/tile__cauwwcyyn9hy_small.jpg");
    }

    .tv {
        background-image: url("https://www.apple.com/v/home/aj/images/promos/tv-plus-the-sky-is-everywhere/promo_sky__fu99g2ymabiy_small.jpg");
    }

    .multi {
        flex-direction: column;
    }

    .multi article {
        width: 100%;
    }
}